:root {
    --primary-light: #5933D1;
    --primary-dark: #7C3EFF;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HEADING */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.025em;
    color: var(--primary-light);
    font-weight: 700;
}

body.modulo-dark h1,
body.modulo-dark h2,
body.modulo-dark h3,
body.modulo-dark h4,
body.modulo-dark h5,
body.modulo-dark h6 {
    color: var(--primary-dark);
}

/* PROSE */

p {
    line-height: 1.625;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
    margin: 0 0 1rem 0;
    padding: 0;
}

a {
    color: var(--primary-light);
}

body.modulo-dark a {
    color: var(--primary-dark);
}

a:hover,
a:focus {
    text-decoration: none;
}

/* SIDEBAR */

.sidebar-brand-text {
    text-align: center;
}

/* SPHINX CLASSES */
body.modulo-dark .dropdown {
    background-color: black;
}

/* CUSTOM CLASSES */

.admonition {
    margin: 1.75rem 0 1.75rem 0;
}