
div#editor-area {
  position: relative;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 10px 10px 0 0;
  background: #272822;
}

div#output-area {
  position: relative;
  background-color: rgb(245, 245, 245);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: rgb(10, 10, 10);
  border: 2px solid rgb(194, 194, 194);
  border-top: 0;
  font-size: 14pt;
}

div#output-area pre {
  height: auto;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}

div#control-area {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 1;
  width: fit-content;
}

div#control-area input {
  margin-left: 10px;
}


div#canvas-area {
  position: relative;
  border: 2px solid rgb(215, 215, 215);
  border-top: 0;
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 10px;
}

div#canvas {
  display: inline-block;
  border: 3px inset rgb(169, 169, 169);
  background-color: white;
  width: 400px;
  height: 400px;
}

.CodeMirror {
  height: auto;
  padding: 20px;
  margin-top: 40px;
  z-index: 0;
  font-size: 14pt;
}

h1 {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12pt;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

div#editor-area h1 {
  color: white;
  z-index: 2;
}