
.reactions {
  position: fixed;
  bottom: 0px;
  height: 200px;
  right: 50px;
  text-align: right;
  direction: rtl;
}

.reaction {
  display: table;
  opacity: 0;
  padding: 5px;
  padding-right: 15px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
  direction: ltr;
}

.reaction.good {
  background-color: rgb(34, 115, 255);
  color: white;
}

.reaction.bad {
  background-color: rgb(167, 27, 27);
  color:white;
}

.reaction .emoticon {
  margin-right: 10px;
}
