
.reactions {
  position: fixed;
  bottom: 0px;
  height: 200px;
  right: 50px;
}

.reaction {
  opacity: 0;
  padding: 5px;
  padding-right: 15px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10px;
}

.reaction.good {
  background-color: rgb(34, 115, 255);
  color: white;
}

.reaction.good::before {
  content: "\1F603";
  margin-right: 10px;
}

.reaction.bad {
  background-color: rgb(167, 27, 27);
  color:white;
}

.reaction.bad::before {
  content: "\1F975";
  margin-right: 10px;
}
