/* Coolors Exported Palette - https://coolors.co/5933d1-0dcca7-f2f2f2-808080-000000 */

/* CSS HEX */
--han-purple: #5933d1ff;
--caribbean-green: #0dcca7ff;
--cultured: #f2f2f2ff;
--gray-web: #808080ff;
--black: #000000ff;

/* CSS HSL */
--han-purple: hsla(254, 63%, 51%, 1);
--caribbean-green: hsla(168, 88%, 43%, 1);
--cultured: hsla(0, 0%, 95%, 1);
--gray-web: hsla(0, 0%, 50%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$han-purple: #5933d1ff;
$caribbean-green: #0dcca7ff;
$cultured: #f2f2f2ff;
$gray-web: #808080ff;
$black: #000000ff;

/* SCSS HSL */
$han-purple: hsla(254, 63%, 51%, 1);
$caribbean-green: hsla(168, 88%, 43%, 1);
$cultured: hsla(0, 0%, 95%, 1);
$gray-web: hsla(0, 0%, 50%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$han-purple: rgba(89, 51, 209, 1);
$caribbean-green: rgba(13, 204, 167, 1);
$cultured: rgba(242, 242, 242, 1);
$gray-web: rgba(128, 128, 128, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-right: linear-gradient(90deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-left: linear-gradient(270deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);
$gradient-radial: radial-gradient(#5933d1ff, #0dcca7ff, #f2f2f2ff, #808080ff, #000000ff);