.answer input {
  margin-right: 5px;
}

.controls {
  margin-top: 5px;
}

.controls input {
  margin-left: 10px;
}

.question .controls {
  text-align: right;
}

.question .admonition-title {
  background-color: rgb(233, 242, 249);
}

.question .admonition {
  border-left: .2rem solid hsl(211, 48%, 50%);
}

.question .admonition-title:before {
  color:#05245e;
  padding-left: 2px;
  font-size: 1.1em;
  font-weight: bold;
  content:"✏️";
}