
.reactions {
  position: fixed;
  bottom: 0px;
  height: 200px;
  right: 50px;
  overflow-y: hidden;
  z-index: 9999;
}

.reaction {
  opacity: 0;
  margin-top: 10px;
  text-align: right;
}

.reaction div {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reaction.good div {
  background-color: rgb(34, 115, 255);
  color: white;
}

.reaction.bad div {
  background-color: rgb(167, 27, 27);
  color:white;
}

.reaction .emoticon {
  margin-right: 10px;
}
