.answer input {
  margin-right: 5px;
}

.controls {
  margin-top: 5px;
}

.controls input {
  margin-left: 10px;
}

.question .controls {
  text-align: right;
}

.question .admonition {
  border-radius: 10px;
  border: solid 0.5px;
}

.show-answers .correct {
  font-weight: bold;
}

.question .question-feedback {
  margin-top: 15px;
  display: none;
  border-left: 3px solid rgb(66, 125, 189);
  margin-left: 22px;
  padding-left: 10px;
}




/* Next, settings for light theme: */

.question .admonition-title {
  background-color: rgb(233, 242, 249);
}

.question .admonition {
  background-color: white;
  border-color: hsl(211, 48%, 50%);
}

.question .admonition-title:before {
  color:#05245e;
}


/* Next, settings for dark theme: */

@media (prefers-color-scheme: dark) {

  .question .admonition-title {
    background-color: rgb(32, 32, 56);
  }
  
  .question .admonition {
    background-color: rgb(var(--inf-offblack));
    border-color: hsl(211, 48%, 50%);
  }
  
  .question .admonition-title:before {
    color:#667081;
  }

}