:root {
    --primary-light: #8044FF;
    --primary-dark: #7C3EFF;
}

@page {
    size: A4;
    margin: 25mm 25mm 25mm 25mm;
}

@media print {
    header, aside, footer, #progress-ring, .content-icon-container {
        display: none !important;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid !important;
    }

    html {
        height: 100%;
        overflow: scroll;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HEADING */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.025em;
    color: var(--primary-light);
    font-weight: 700;
}

body.modulo-dark h1,
body.modulo-dark h2,
body.modulo-dark h3,
body.modulo-dark h4,
body.modulo-dark h5,
body.modulo-dark h6 {
    color: var(--primary-dark);
}

/* PROSE */

p {
    line-height: 1.625;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
    margin: 0 0 1rem 0;
    padding: 0;
}

a {
    color: var(--primary-light);
}

body.modulo-dark a {
    color: var(--primary-dark);
}

a:hover,
a:focus {
    text-decoration: none;
}

/* SIDEBAR */

.sidebar-brand-text {
    text-align: center;
}

/* SPHINX CLASSES */
body.modulo-dark .dropdown {
    background-color: black;
}

/* CUSTOM CLASSES */

.admonition {
    margin: 1.75rem 0 1.75rem 0;
}

.admonition.hint>.admonition-title {
    background-color: rgb(92 201 191 / 10%)!important;
}

.admonition.hint {
    border-left-color: rgb(92 201 191)!important;
}

.admonition.hint>.admonition-title:before {
    background-color: rgb(92 201 191)!important;
}

.sidebar-brand-text {
    color: rgb(92 201 191)!important;
    overflow-wrap: break-word;
    font-size: 1.5rem;
}


body {
    --sidebar-item-spacing-vertical: 0.3rem;

}