.glossary-ref {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    text-decoration-color: #0071bc;
}

.glossary-refs {
    padding-left: 30px;
}

.glossary-refs a {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin-left: 4px;
    margin-bottom: 4px;
    background: #eefcfa;
    color: #0dcca7 !important;
    text-decoration: none;
    border-radius: 7px;
}

#tooltip {
    display: none;
    background: #1f1e1e;
    padding: 20px;
    z-index: 10000;
    border-radius: 15px 23px 15px 15px;
    max-width: 50%;
    -webkit-box-shadow: 0px 10px 13px -7px #1f1e1e, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #1f1e1e, 5px 5px 15px 5px rgba(0,0,0,0);
    font-family: Lato, sans-serif;
}

#tooltip-content {
    position: relative;
}

#tooltip-close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(211, 208, 208);
    background: rgb(87, 84, 84);
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

#tooltip-close:hover {
    background: rgb(124, 120, 120);
}

#tooltip p {
    color: white !important;
    margin: 0;
}

#tooltip h1 {
    color: white !important;
    margin: 0;
    margin-bottom: 5px;
    font-size: 14pt;
}

#tooltip h1::before {
    content: none;
}

#tooltip-link-div {
    text-align: right;
}

#tooltip-link {
    display: inline;
    font-size: 12pt;
    color: #ccc !important;
}

#tooltip-link:hover {
    color: #eee !important;
    text-decoration: none !important;
}

#tooltip-arrow,
#tooltip-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

#tooltip-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #1f1e1e;
}

#tooltip[data-popper-placement^='top'] > #tooltip-arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #tooltip-arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #tooltip-arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #tooltip-arrow {
    left: -4px;
}